.cont {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cont::-webkit-scrollbar {
  display: none;
}
.table-container {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* text-align: right; */
  overflow: scroll;
}

td,
th {
  padding: 8px;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
  border-bottom: 1px solid rgb(211, 211, 211);
}
td {
  border-bottom: 1px solid #d3d1d1;
  color: rgb(90, 93, 116);
}
